@{ 
    ViewBag.Title = "";
    Layout = "../Shared/_LayoutMain";
}

<div id="step-4" class="tab-pane" role="tabpanel" aria-labelledby="step-4">
    <div class="card">
        <div class="card-body">

            <input type="hidden" name="billercode" value="@ViewBag.billercode" />
            <input type="hidden" name="billercode" value="@ViewBag.billercode" />
            <input type="hidden" id="objectivesss" name="otherObjectives" />
            <input type="hidden" name="billercode" value="@ViewBag.billercode" />



            <div class="row">
                <div class="col-md-6">
                    <label class="form-group">Liability clause</label>
                    <div class="input-group form-group">
                        "@if (ViewBag.CompanyApplication.memo != null)
                        {
                            <input type="text" class="form-control" id="liabilityClause" value="@ViewBag.CompanyApplication.memo.LiabilityClause" name="liab" step="3">}
                        else
                        {
                            <input type="text" class="form-control" id="liabilityClause" placeholder="Entity name" value="" readonly>}
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="form-group">Share clause</label>
                    <div class="input-group form-group">
                        @if (ViewBag.CompanyApplication.memo != null)
                        {
                            <input type="text" class="form-control" id="shareClause" value="@ViewBag.CompanyApplication.memo.ShareClause" name="shareClo">}
                        else
                        {
                            <input type="text" class="form-control" id="shareClause" placeholder="Entity name" value="" readonly>}
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <label>Objectives</label>
                <table class="table  table-mb table-hover" style="color:#0C2A46;">
                    <thead mt-5 mb-5 style="color:#0C2A46;">
                        <tr>
                            <th style="color:#0C2A46">#</th>
                            <th style="color:#0C2A46">Object</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.CompanyApplication.memo != null)
                        {
                            @foreach (var objective in ViewBag.CompanyApplication.memo.objects)
                            {
                                <tr>
                                    <td>@objective.Letter</td>
                                    <td>@objective.Value</td>
                                </tr>
}
                        }
                        else
                        {
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="step-4" class="tab-pane" role="tabpanel" aria-labelledby="step-4">
    <div class="card">
        <div class="card-body">
            <form action="#" method="post" style="width:100%;">
                <input type="hidden" name="billercode" value="@ViewBag.billercode" />
                <input type="hidden" name="billercode" value="@ViewBag.billercode" />
                <input type="hidden" id="objectivesss" name="otherObjectives" />
                <input type="hidden" name="billercode" value="@ViewBag.billercode" />

                <div class="form-group">
                    @*<label>Company Members</label>*@
                    <ejs-grid id="Grid" toolbar="@(new List<string>() { "Add","Edit" ,"Delete" })">
                        <e-grid-editSettings allowAdding="true" allowDeleting="true" mode="Dialog"></e-grid-editSettings>
                        <e-data-manager url="/Company/UrlDataSource" updateUrl="/Company/CellEditUpdate" insertUrl="/Company/CellEditInsert" removeUrl="/Company/CellEditDelete" adaptor="UrlAdaptor"></e-data-manager>

                        <e-grid-columns>
                            <e-grid-column field="objective" headerText="Object" validationRules="@(new { required=true})"></e-grid-column>
                        </e-grid-columns>
                    </ejs-grid>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="form-group">Liability clause</label>
                        <div class="input-group form-group">
                            <input type="text" class="form-control" id="liabilityClause" name="liab" step="3" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-group">Share clause</label>
                        <div class="input-group form-group">
                            <input type="text" class="form-control" id="shareClause" name="shareClo" required>
                        </div>
                    </div>
                </div>
                <div class="form-group fa-pull-right">
                    <button type="button" onclick="submitObzizz()" class="btn btn-primary" id="memo-new" style="display:none">
                        Continue
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="form-group fa-pull-right mt-5">
        <button type="button" id="submitObjective" onclick="submitObjective()" class="btn btn-primary btn-sm" style="display:none">
            Save application
        </button>
    </div>
</div>